{% extends 'syllabuses/base.html' %}

{% block content %}
<div class="container">
  <br/>
  <h2>Шаг 2</h2><br/>
  Заполните информацию о литературе
  <br/>
  <form method="post" id="literature-form">
      {% csrf_token %}
      {{ literature_form.as_p }}
      <button type="submit">Добавить литературу</button>
  </form>
  <!-- Отображение добавленной литературы -->
<h3>Добавленная литература</h3>
<ul>
    {% for literature in syllabus.course.literature_set.all %}
        <li>{{ literature.title }}</li>
    {% endfor %}
</ul>
<br/>
<a href="{% url 'next_step' %}" class="btn btn-primary btn-lg">Далее</a>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
  $('#literature-form').on('submit', function(event) {
      event.preventDefault();
      $.ajax({
          type: 'POST',
          data: $(this).serialize(),
          success: function(data) {
              $('#literature-form')[0].reset();  // Очищаем внесенные данные при успешном сохранении
              alert('Литература успешно добавлена!');  // Выводим сообщение об успешном добавлении литературы
          },
          error: function(xhr, status, error) {
              console.log(xhr.responseText);  // Выводим ошибку в консоль браузера при возникновении ошибки
          }
      });
  });
});
</script>
{% endblock %}
